{{- $currentPage := .Permalink -}}
<ul>
    {{- range $s := .Site.Sections -}}
    <li>{{- singularize ( $s.Name ) -}}
        <ul>
            {{- range $p := $s.Pages -}}
            <li>
                {{- if eq $p.Permalink $currentPage -}}
                {{- $p.Name -}}
                {{- else -}}
                <a href="{{$p.Permalink}}">
                    {{- $p.Name -}}
                </a>
                {{- end -}}
            </li>
            {{- end -}}
        </ul>
    </li>
    {{- end -}}
</ul>